<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Films</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Les Films</h1>
    </header>
    <div class="container">
        <ul>
            {% for film in films %}
            <li>
                <strong>{{ film['title'] }}</strong> ({{ film['release_year'] }}) - Genre : {{ film['genre'] }}<br>
                Posté par : {{ film['username'] }}<br>
                <img src="{{ film['image_url'] }}" alt="Affiche de {{ film['title'] }}">
                {% if session['user_id'] == film['user_id'] %}
                    <form action="/delete/{{ film['film_id'] }}" method="post">
                        <button type="submit">Supprimer</button>
                    </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        <a href="/">Retour à l'accueil</a>
    </div>
</body>
</html>
